p You have received an invitation to participate to a chetortilla event
p The event is scheduled #{@invitation.event.scheduled}
= link_to t('Oh yes!'), accepted_url(@invitation.verification_token)
= link_to t('no thanks!'), reject_invitation_url(@invitation.verification_token)